absl-py==0.13.0
aniso8601==9.0.1
anndata==0.7.6
anyio==3.3.0
appnope==0.1.2
argon2-cffi==20.1.0
asciitree==0.3.3
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
Babel==2.9.1
backcall==0.2.0
backports.zoneinfo==0.2.1
biothings-client==0.2.6
bleach==4.0.0
bokeh==2.3.0
boto3==1.7.84
botocore==1.10.84
cachetools==4.2.2
CellPhoneDB==2.1.7
certifi==2021.10.8
cffi==1.14.6
charset-normalizer==2.0.3
chord==1.0.2
click==6.7
cloudpickle==2.0.0
cycler==0.10.0
Cython==0.29.24
dask==2021.9.1
dask-image==0.6.0
debugpy==1.4.1
decorator==4.4.2
defusedxml==0.7.1
docrep==0.3.2
docutils==0.17.1
dunamai==1.5.5
entrypoints==0.3
et-xmlfile==1.1.0
fa2==0.3.5
fasteners==0.16.3
fbpca==1.0
Flask==1.0.4
Flask-RESTful==0.3.9
Flask-Testing==0.7.1
Flask-WTF==0.15.1
flatbuffers==1.12
fsspec==2021.10.1
gast==0.3.3
geosketch==0.3
get_version==3.5
google-auth==1.33.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.32.0
h5py==2.10.0
idna==3.2
imageio==2.9.0
inflect==5.3.0
iniconfig==1.1.1
ipykernel==6.0.3
ipython==7.25.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jmespath==0.10.0
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.10.2
jupyterlab==3.1.4
jupyterlab-pygments==0.1.2
jupyterlab-server==2.7.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
legacy-api-wrap==1.2
leidenalg==0.8.8
llvmlite==0.36.0
locket==0.2.1
louvain==0.7.0
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
mistune==0.8.4
mne==0.23.4
mygene==3.2.2
natsort==7.1.1
nbclassic==0.3.1
nbclient==0.5.3
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.4.3
numba==0.53.1
numcodecs==0.9.1
numexpr==2.7.3
numpy==1.19.5
oauthlib==3.1.1
omnipath==1.0.5
openpyxl==3.0.9
opt-einsum==3.3.0
packaging==21.0
pandas==1.1.4
pandocfilters==1.4.3
parso==0.8.2
partd==1.2.0
patsy==0.5.1
pexpect==4.8.0
pickleshare==0.7.5
pika==0.12.0
Pillow==8.1.1
PIMS==0.5
pluggy==1.0.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
Pygments==2.9.0
pynndescent==0.5.4
pyparsing==2.4.7
pyrsistent==0.18.0
pytest==6.2.5
python-dateutil==2.8.2
python-igraph==0.9.6
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.1.2
pyzmq==22.2.1
requests==2.26.0
requests-oauthlib==1.3.0
requests-unixsocket==0.2.0
rpy2==3.0.5
rsa==4.7.2
s3transfer==0.1.13
scanpy==1.8.1
scikit-image==0.18.3
scikit-learn==0.22
scikit-misc==0.1.4
scipy==1.7.0
seaborn==0.11.1
Send2Trash==1.8.0
simplegeneric==0.8.1
sinfo==0.3.4
six==1.15.0
slicerator==1.0.0
sniffio==1.2.0
SQLAlchemy==1.3.24
squidpy
statsmodels==0.12.2
stdlib-list==0.8.0
stlearn==0.3.1
tables==3.6.1
tabulate==0.8.9
tangram-sc==1.0.1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
texttable==1.6.4
threadpoolctl==2.2.0
tifffile==2021.10.12
toml==0.10.2
toolz==0.11.1
torch==1.10.0
tornado==6.1
tqdm==4.32.2
traitlets==5.0.5
typing-extensions==3.7.4.3
tzlocal==3.0
umap-learn==0.5.1
UpSetPlot==0.6.0
urllib3==1.26.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.0
Werkzeug==2.0.1
wrapt==1.12.1
WTForms==2.3.3
xarray==0.19.0
xlrd==1.2.0
XlsxWriter==3.0.1
zarr==2.10.2
